html {
  &.is-lock {
    overflow: hidden;
  }
} /*Когда к элементу <html> добавляется класс is-lock (например, через JavaScript), у всего документа отключается прокрутка — overflow: hidden скрывает полосы прокрутки и не позволяет прокручивать страницу.*/

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-gray-700);
  background-color: var(--color-black-500);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-gray-500);
}

h1, .h1 {
  @include fluid-text(64, 32);

  font-weight: 700;
}

h2, .h2 {
  @include fluid-text(48, 24);

  font-weight: 700;
}

h3, .h3 {
  @include fluid-text(38, 20);

  font-weight: 700;
}

h4, .h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
}

h5, .h5 {
  @include fluid-text(22, 18);

  font-weight: 500;
}

h6, .h6 {
  @include fluid-text(20, 16);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a, {
  color: inherit;

  @include hover {
    color: var(--color-violet-500);
  }

  &[class] {
    text-decoration: none; /*Это правило применяется только к тем тегам <a>, у которых есть атрибут class, и убирает у них подчёркивание (text-decoration: none).*/
  }
}

:focus-visible {
  @include focus-visible;
}