:root {

  /*colors*/
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-violet-300: #B988F9;
  --color-violet-400: #A160F7;
  --color-violet-500: #8A38F5;
  --color-violet-600: #6F2DC5;
  --color-violet-700: #542295;
  --color-violet-800: #381665;

  --color-black-200: #787D8A;
  --color-black-300: #5C5F6C;
  --color-black-400: #3F424D;
  --color-black-500: #22252F;
  --color-black-600: #1B1E26;
  --color-black-700: #14161C;
  --color-black-800: #0E0F13;

  --color-gray-300: #EFF0F5;
  --color-gray-400: #EAEBF2;
  --color-gray-500: #E5E6EF;
  --color-gray-600: #C4C6D5;
  --color-gray-700: #A4A6BA;

  /*border*/

  --border: var(--border-width-s) solid var(--color-black-400);

  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-l:    12px;
  --border-radius-m:    10px;
  --border-radius-s:    8px;
  --border-radius-xs:   6px;
  --border-radius-xxs:  5px;
  --border-radius-xxxs: 4px;

  /*font base*/
  --font-family-base: 'Manrope', sans-serif;

  /*Ширина контентного контейнера*/
  --container-width:
    #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};

  /*Внутренние горизонтальные отступы контентного контейнера*/
  --conteiner-padding-x: 16px;

  /*Внутренние вертикальные отступы секционных блоков*/
  --section-padding-y: #{fluid(75, 40)};

  /*Длительность анимации*/
  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}